<header>
  <nav class="flex flex-col lg:flex-row items-center justify-between bg-black p-6">
  <div class="flex justify-center w-full lg:w-auto mb-4 lg:mb-0">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo' %>
    <% end %>
  </div>
  <div class="w-full lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow flex justify-center lg:justify-start">
      <%= link_to 'ビール投稿一覧', boards_path, class: 'block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-4' %>
      <%= link_to t('header.logout'), logout_path,method: :delete, data: { turbo_method: :delete }, class: 'block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-4' %>
    </div>
  </div>
</nav>
</header>