<%= render 'layouts/flash_messages' %>
<br>
<div class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-300 max-w-5xs sm:max-w-5sm md:max-w-5md lg:max-w-5lg xl:max-w-5xl">
    <a href="#" class="block w-full h-full bg-blue-500">
        <div class="w-full p-4 bg-white dark:bg-gray-800">
            <p class="font-medium text-indigo-500 text-md">
            </p>
            <p class="mb-2 text-xl font-medium text-gray-800 dark:text-white text-center">
                Bairs
            </p>
            <div class="font-light text-gray-600 dark:text-gray-300 text-center">
                <p>ビールと人がマッチングできるサービスです。</p>
                <p>ビールは世界中で150種類以上あると言われています。</p>
                <p>ビールの種類によって味わいの違いや、香り、色味は異なります。</p>
                <br>
                <p>「Bairs」は、ビール入門者からビール上級者までの幅広いからにご使用頂けます。</p>
                <br>
                <p>「自分の好きなビールをシェアしたい」</p>
                <p>「ビールを通して友達を作りたい</p>
                <p>飲んだビールを記録したい</p>
                <br>
                <p>そんな方々のためにアプリを開発しました。</p>
                <br>
                <p>さぁ、あなたも深いビールの世界に入ってみませんか？</p>
            </div>
        </div>
    </a>
</div>
<!--
<br>
<div class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-300 max-w-5xs sm:max-w-5sm md:max-w-5md lg:max-w-5lg xl:max-w-5xl">
    <a href="#" class="block w-full h-full bg-blue-500">
        <div class="w-full p-4 bg-white dark:bg-gray-800">
            <p class="font-medium text-indigo-500 text-md">
            </p>
            <p class="mb-2 text-xl font-medium text-gray-800 dark:text-white text-center">
                01_国で選ぶ
            </p>
            <div class="font-light text-gray-600 dark:text-gray-300 text-center">
                <p>日本のビールはそのほとんどがラガーというスタイルです。</p>
                <p>キンキンに冷えたビールはのどごし最高ですよね。</p>
                <br>
                <p>しかし、世界にはエールというスタイルのビールが多数あります。</p>
                <p>エールビールは香りやコクが豊かで様々なタイプのビールが楽しめます。</p>
                <p>世界の様々なビールを試してみましょう</p>
            </div>
           <div class="flex items-center justify-center">
              <span class="flag-icon flag-icon-un flag-icon-squared h-[60px] w-[60px]"></span>
              <span class="flag-icon flag-icon-eu flag-icon-squared h-[60px] w-[60px]"></span>
              <span class="flag-icon flag-icon-jp flag-icon-squared h-[60px] w-[60px]"></span>
              <span class="flag-icon flag-icon-bd flag-icon-squared h-[60px] w-[60px]"></span>
            </div>
        </div>
    </a>
</div>
<br>
<div class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-300 max-w-5xs sm:max-w-5sm md:max-w-5md lg:max-w-5lg xl:max-w-5xl">
    <a href="#" class="block w-full h-full bg-blue-500">
        <div class="w-full p-4 bg-white dark:bg-gray-800">
            <p class="font-medium text-indigo-500 text-md">
            </p>
            <p class="mb-2 text-xl font-medium text-gray-800 dark:text-white text-center">
                02_アルコール度数で選ぶ
            </p>
            <div class="font-light text-gray-600 dark:text-gray-300 text-center">
                <p>「ビールの度数って大体5%でしょ?」って思ってませんか??</p>
                <br>
                <p>実は違うんです。</p>
                <p>世界で最もアルコール度数の高いビールはなんと...</p>
                <p>驚異の67.5%!!!</p>
                <p>スコットランドのSnake Venom Aleというビールです。</p>
                <br>
                <p>さすがに67.5%はアルコール度数が高くて中々飲めないと思いますが、10-15%のビールも実は多いんです。</p>
                <p>ぜひアルコール度数にも注目してみてください。</p>
            </div>
        </div>
    </a>
</div>
<br>
<div class="m-auto overflow-hidden rounded-lg shadow-lg cursor-pointer h-300 max-w-5xs sm:max-w-5sm md:max-w-5md lg:max-w-5lg xl:max-w-5xl">
    <a href="#" class="block w-full h-full bg-blue-500">
        <div class="w-full p-4 bg-white dark:bg-gray-800">
            <p class="font-medium text-indigo-500 text-md">
            </p>
            <p class="mb-2 text-xl font-medium text-gray-800 dark:text-white text-center">
                03_ボディで選ぶ
            </p>
            <div class="font-light text-gray-600 dark:text-gray-300 text-center">
                <p>「ボディって何?」っていう方も多いかもしれません。</p>
                <br>
                <p>ボディは飲んだ時に感じる味わいの濃淡を表現する用語です。</p>
                <p>のどごしやコク、アルコール度数などの味わいの総和が、飲んだ時のボディの強さを左右します。</p>
            </div>
        </div>
    </a>
</div>
<br>

<div class="flex items-center justify-center">
<button type="button" class="text-yellow-400 hover:text-white border border-yellow-400 transition hover:bg-yellow-500 duration-300 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-3xl px-5 py-2.5 text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">ビールを探す</button>
-->
</div>